[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-environ = "*"
environ = "*"
django = "*"
psycopg2 = "*"
djangorestframework = "*"
django-cors-headers = "*"
pandas = "*"
openpyxl = "*"
numpy = "*"
scikit-learn = "*"
scipy = "*"
sentence-transformers = "*"
apscheduler = "*"
django-extensions = "*"
faker = "*"
matplotlib = "*"
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.12"
